/* mobile */
header {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;   
}

/* tablet */

section {
    display: flexbox;
    justify-content: right;
    align-items: spaced;
    width: 100%;
    font-family: tahoma, Helvetica, sans-serif;
    background-color: #547b96;
}

ul li{
    display: inline;
}
body {
    background: linear-gradient(120deg, #547b96, cyan);
}

.flex-box{
    display: flex;
    border: 2px solid #black;
    border-radius: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px;
    row-gap: 20px;
    
}

img{
    max-width: 50%;
    display: center;
}

.ul{
    display: flex;
    flex-wrap: wrap;
}

.li{
    height: 50%;
    flex-wrap: wrap;
}

.flex-box{
    border: 15px;
    border-radius: 5%;
    flex-wrap: wrap;
    transition: 0.5s;
}

.wood-box{
    flex: 1;
    padding: 5px;
    order: 1;
    border: 5px solid #8e9c6b;
    flex-wrap: nowrap;
    border-radius: 15%;   
}

.wood-box:hover{
    background-color: #7e5015;
}

.shadowrun-box{
    align-content: flex-start;
    justify-content: center;
    flex: flex;
    padding: 5px;
    order: 2;
    border: 5px solid #39be40;
    width: 30em;
    height: 20ex;
    background-color: antiquewhite;
    cursor: pointer;
    color: #white;
    font-weight: bold;
    flex-wrap: wrap; 
    border-radius: 15%;
    /* shadowrun link reference: https://www.catalystgamelabs.com/brands/shadowrun */
}

.shadowrun-box:hover{
    background-color: #39be40;
    border-color: #030303;
    background-image: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6hay-O6hEfHIDTMYSZLkqTZYGbxGXZLvNfd8cTfnesYUX4YQjOyCeVq8_86DKqaAATz8&usqp=CAU;
    color: #white;
}
/*.shadowrun-box.img{
        max-height: 40px;
        min-width: 0, 30, 1;
        object-fit: contain;
        vertical-align: text-bottom;
        
        trying to add a border
} */


.gaming-box{
    flex: 1;
    padding: 5px;
    order: 2;
    border: 5px solid #d542e9;
    border-radius: 15%; 
    justify-self: 50%;
    align-content:50%; 
    color: #0e7b96;
    
}

.gaming-box:hover{
    background-color: azure;
    color:#d542e9;
}

.merch-box{
    flex: 1;
    padding: 5px;
    order: 2;
    margin: 5px;
    border: 5px solid #04660c;
    border-radius: 15%    
}

.merch-box:hover{
    background-color: #8e9c6b;
    color: #black
}

.box {
    border: solid #030303;
    display: grid;
    width: 600px;
    height: 800px;
    grid-template-columns: 280px 280px;
    align-items: center;
    justify-content: space-between;
}
.footer{
    font-weight: bold;
    font-style: italic
    justify-content: center;
}